---
layout: default
---

<h1>{{ page.name }}</h1>

<h3>Social Media</h3>
  <i class="fa fa-twitter"></i>
  <a href="https://twitter.com/{{ page.twitter_handle }}">@{{ page.twitter_handle }}</a>

<h3>Die Podcasts</h3>

{% for podcast in page.podcasts %}

<p>
  <i class="fa fa-headphones"></i>
  <a href="{{ podcast.url }}">{{ podcast.title }}</a>
  &nbsp; &nbsp;
<script class="podlove-subscribe-button"
        src="/subscribe-button/javascripts/app.js"
        data-language="de"
        data-size="small"
        data-json-data="podcast{{forloop.index}}"
        data-colors="#FC6E51;green;blue"
        data-buttonid="subscribe-button{{forloop.index}}"
        data-style="filled">
</script>

<script>
  window.podcast{{forloop.index}} = {
    "title": "{{ podcast.title }}",
    "feeds": [{"type": "audio", "format": "mp3",
               "url": "{{ podcast.feed_url }}"}]}
</script>

{% endfor %}

<hr/>

{{ content }}